# Ignore node_modules
node_modules

# Ignore environment variables
# .env
# .env.local
# .env.*.local

# Ignore .next build folder
.next


# docker build -t webladli/ladliafrica:0.0.2 .
# docker container run -it -p 3000:3000 webladli/ladliafrica:0.0.2
# docker push webladli/ladliafrica:0.0.2
